<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Configuration.plist
   chh-test-ios

   Created by André Caçador on 19/6/18.
   Copyright (c) 2018 André Caçador. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>Test</key>
        <dict>
            <key>APIEndpoint</key>
            <string>https://test.cryptojet.io</string>
        </dict>
        <key>Release</key>
        <dict>
            <key>APIEndpoint</key>
            <string>https://pro.cryptojet.io</string>
        </dict>
        <key>Debug</key>
        <dict>
            <key>APIEndpoint</key>
            <string>localhost:8080/</string>
        </dict>
    </dict>
</plist>
